In [1]:
import numpy as np
import pandas as pd

In [2]:
drinks = pd.read_csv('drinks.csv')

In [4]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

1. 哪个国家的饮酒量最大
2. 哪个大洲的饮酒量最大
3. 烈酒各个大洲的平均消耗量

In [5]:
drinks[drinks['total_litres_of_pure_alcohol']==drinks['total_litres_of_pure_alcohol'].max()]['country']

15    Belarus
Name: country, dtype: object

In [6]:
continent_sum = drinks.groupby('continent').sum()

In [7]:
continent_sum['spirit_servings'].mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,3258,866,862,159.4
AS,1630,2677,399,95.5
EU,8720,5965,6400,387.8
OC,1435,935,570,54.1
SA,2101,1377,749,75.7